.data-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .data-table th, .data-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .data-table th {
    background-color: #f2f2f2;
  }
  
  .data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .data-table tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  .data-table tbody tr:hover {
    background-color: #ddd;
  }
  